//-----------------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------------
$primary-color:		#931a34;
$secondary-color:	#06b704;
$tertiary-color:	#27A0B6;
$black:				#1c1c1c;

$gothamBlack: #242021;
$gothamRed: #a20d2c;
