<footer class="redBorderTop">
	<span class="normal">© {{ now.Format "2006" }} Strawberry Creators.</span>
	<span class="small">© StrawberrySSG</span>
	<span class="slogan">Strawberry, the main ingredient in your JAM stack!</span>
	<ul class="menu h social">
		<li><a href="https://twitter.com/StrawberrySSG" rel="me"><span class="fa fa-twitter"></span></a>
		<li><a href="https://nanobyte.cafe/@GothamHQ" rel="me"><span class="fa fa-mastodon"></span></a>
		<li><a href="https://facebook.com/StrawberrySSG" rel="me"><span class="fa fa-facebook"></span></a>
		<li><a href="https://www.linkedin.com/company/gotham" rel="me"><span class="fa fa-linkedin"></span></a></li>
		<li><a href="https://github.com/StrawberrySSG" rel="me"><span class="fa fa-github"></span></a></li>
	</ul>
</footer>
