<link rel="stylesheet" href="{{ "vendor/sanitize-8.0/sanitize.css" | absURL }}" />
<link rel="stylesheet" href="{{ "vendor/fork-awesome-1.2.0/css/fork-awesome.min.css" | absURL }}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">
{{- $style := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" />
{{- if .IsHome }}
	{{- $style := resources.Get "css/homepage.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ end }}
{{- $style := resources.Get "css/mobile.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" media="(max-width:1200px)" />
{{ with .Page.Params.css }}
	{{ range . -}}
		<link rel="stylesheet" href="{{ . }}" crossorigin="" />
	{{- end }}
{{ end }}
