{{- define "main" }}
<main class="single">
	<ul class="social-icons">
		{{ if isset .Site.Params "twitter" }}<li><a href="{{ .Site.Params.twitter }}"><i class="fa fa-twitter"></i></a></li>{{ end }}
		{{ if isset .Site.Params "facebook" }}<li><a href="{{ .Site.Params.facebook }}"><i class="fa fa-facebook"></i></a></li>{{ end }}
		{{ if isset .Site.Params "instagram" }}<li><a href="{{ .Site.Params.instagram }}"><i class="fa fa-instagram"></i></a></li>{{ end }}
		{{ if isset .Site.Params "youtube" }}<li><a href="{{ .Site.Params.youtube }}"><i class="fa fa-youtube"></i></a></li>{{ end }}
		{{ if isset .Site.Params "linkedin" }}<li><a href="{{ .Site.Params.linkedin }}"><i class="fa fa-linkedin"></i></a></li>{{ end }}
		{{ if isset .Site.Params "github" }}<li><a href="{{ .Site.Params.github }}"><i class="fa fa-github"></i></a></li>{{ end }}
	</ul>
	<h1>{{ .Site.Title }}</h1>
	<p>{{ .Site.Params.tagline }}</p>
	{{ if isset .Site.Params "mailchimpurl" }}{{ partial "mailchimp-signup" . }}{{ end }}
	<div id="benefits">
			<div>
				<h2><i class="fas fa-users"></i>Community</h2>
				<p>A tool that embraces and supports the community. Built for us by us.</p>
			</div>
			<div>
				<h2><i class="fas fa-book"></i>Documentation</h2>
				<p>A focus on clear and correct documentation that is intuitive to navigate.</p>
			</div>
			<div>
				<h2><i class="fas fa-check"></i>Sign Up Today</h2>
				<p>Sign up to stay up to date with Strawberry. We’ll share updates as they become available.</p>
			</div>
	</div>
</main>
{{ end }}
